<!DOCTYPE html>
<html>
<head>
	<title>Prediction Page</title>
</head>
<body>
	<form action="{{ url_for('predict') }}" method="POST">
    	<label>Age:</label><br>
		<input type="text" name="age" style="width: 200px;"><br>
		<label>Education:</label><br>
		<input type="text" name="education" style="width: 200px;"><br>
		<label>SES:</label><br>
		<input type="text" name="ses" style="width: 200px;"><br>
		<label>MMSE:</label><br>
		<input type="text" name="mmse" style="width: 200px;"><br>
		<label>CDR:</label><br>
		<input type="text" name="cdr" style="width: 200px;"><br>
		<label>eTIV:</label><br>
		<input type="text" name="etiv" style="width: 200px;"><br>
		<label>nWBV:</label><br>
		<input type="text" name="nwbv" style="width: 200px;"><br>
		<label>ASF:</label><br>
		<input type="text" name="asf" style="width: 200px;"><br><br>
		<input type="submit" value="Predict" style="border-radius:10px; background-color:lightgreen;">
	</form>
	{% if prediction_text %}
		<h2>{{ prediction_text }}</h2>
		0 - Nondemented<br>
		1 - Demented
	{% endif %}
</body>
</html>