<!DOCTYPE html>
<html>

<head>
    <title>Prediction Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <form class="form-horizontal" action="{{ url_for('predict') }}" method="POST">
            <div class="form-group">
                <label for="age" class="col-sm-2 control-label">Age:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="age" name="age" placeholder="Enter Age" required>
                </div>
            </div>
            <div class="form-group">
                <label for="education" class="col-sm-2 control-label">Education:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="education" name="education"
                        placeholder="Enter Education" required>
                </div>
            </div>
            <div class="form-group">
                <label for="ses" class="col-sm-2 control-label">SES:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="ses" name="ses" required>
                      <option value="">Choose SES</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
            </div>
            <div class="form-group">
                <label for="mmse" class="col-sm-2 control-label">MMSE:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="mmse" name="mmse" placeholder="Enter MMSE" required>
                </div>
            </div>
            <div class="form-group">
                <label for="cdr" class="col-sm-2 control-label">CDR:</label>
                <div class="col-sm-10">
                    <input type="number" step="0.1" class="form-control" id="cdr" name="cdr" placeholder="Enter CDR" required>
                </div>
            </div>
            <div class="form-group">
                <label for="etiv" class="col-sm-2 control-label">eTIV:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="etiv" name="etiv" placeholder="Enter eTIV" required>
                </div>
            </div>
            <div class="form-group">
                <label for="nwbv" class="col-sm-2 control-label">nWBV:</label>
                <div class="col-sm-10">
                    <input type="number" step="0.001" class="form-control" id="nwbv" name="nwbv"
                        placeholder="Enter nWBV" required>
                </div>
            </div>
            <div class="form-group">
                <label for="asf" class="col-sm-2 control-label">ASF:</label>
                <div class="col-sm-10">
                    <input type="number" step="0.001" class="form-control" id="asf" name="asf" placeholder="Enter ASF" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Predict</button>
                </div>
            </div>
        </form>
        <div class="additional-info">
            <h3>Form fields description</h3>
            <ul>
                <li><b>EDUC:</b> Years of Education</li>
                <li><b>SES:</b> Socioeconomic Status (1-5)</li>
                <li><b>MMSE:</b> Mini Mental State Examination</li>
                <li><b>CDR:</b> Clinical Dementia Rating</li>
                <li><b>eTIV:</b> Estimated total intracranial volume</li>
                <li><b>nWBV:</b> Normalize Whole Brain Volume</li>
                <li><b>ASF:</b> Atlas Scaling Factor</li>
            </ul>
        </div>
    </div>

    {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
    {% endif %}
    <h3>Legend:</h3>
    <p>
        0 - Nondemented<br>
        1 - Demented
    </p>
    Result based on linear combinations of relevant features<br>
    <b>Model accuracy<br>>93%<b>

</body>

</html>