<!DOCTYPE html>
<html>
<head>
	<title>Prediction Page</title>
</head>
<body>
	<form action="{{ url_for('predict') }}" method="POST">
		Age: <input type="text" name="age"><br>
		Education: <input type="text" name="education"><br>
		SES: <input type="text" name="ses"><br>
		MMSE: <input type="text" name="mmse"><br>
		CDR: <input type="text" name="cdr"><br>
		eTIV: <input type="text" name="etiv"><br>
		nWBV: <input type="text" name="nwbv"><br>
		ASF: <input type="text" name="asf"><br>
		<input type="submit" value="Predict">
	</form>
	{% if prediction_text %}
		<h2>{{ prediction_text }}</h2>
		0 - Nondemented<br>
		1 - Demented
	{% endif %}
</body>
</html>
